*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.loading-map{
  background-color: #202020;
  color: #FFF;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.search-container{
  background-color: #FFF;
  border-radius: 10px;  
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.50);
  padding: 4px;
  position: fixed;
  left: 15px;
  top: 20px;
  width: 250px;
  z-index: 1000;
}